//! **************************************************************************
// Written by: Map P.20131013 on Sat May 27 17:30:02 2017
//! **************************************************************************

SCHEMATIC START;
COMP "HDR<0>" LOCATE = SITE "N17" LEVEL 1;
COMP "HDR<1>" LOCATE = SITE "M18" LEVEL 1;
COMP "HDR<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "HDR<3>" LOCATE = SITE "L15" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "C14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "V13" LEVEL 1;
COMP "SWITCH<1>" LOCATE = SITE "F12" LEVEL 1;
COMP "SWITCH<2>" LOCATE = SITE "E12" LEVEL 1;
COMP "BOTAO<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "SWITCH<3>" LOCATE = SITE "D14" LEVEL 1;
COMP "BOTAO<1>" LOCATE = SITE "F6" LEVEL 1;
COMP "BOTAO<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "BOTAO<3>" LOCATE = SITE "F5" LEVEL 1;
SCHEMATIC END;

