NET "DIPSW[0]" LOC =  D14;
NET "DIPSW[1]" LOC =  E12;
NET "DIPSW[2]" LOC =  F12;
NET "DIPSW[3]" LOC =  V13;

NET "LEDS[0]" LOC = E13;
NET "LEDS[1]" LOC = C14;
NET "LEDS[2]" LOC = C4;
NET "LEDS[3]" LOC = A4;

NET "BUTTON" LOC = P4;

NET "CLK27M" LOC = V10;

NET "TX" LOC = L12;
NET "RX" LOC = K14;


NET "GPIO_HDR<0>" LOC = "N17"; ## 1 on J13 (thru series R100 200 ohm)
NET "GPIO_HDR<1>" LOC = "M18"; ## 3 on J13 (thru series R102 200 ohm)
NET "GPIO_HDR<2>" LOC = "A3"; ## 5 on J13 (thru series R101 200 ohm)
NET "GPIO_HDR<3>" LOC = "L15"; ## 7 on J13 (thru series R103 200 ohm)
NET "GPIO_HDR<4>" LOC = "F15"; ## 2 on J13 (thru series R99 200 ohm)
NET "GPIO_HDR<5>" LOC = "B4"; ## 4 on J13 (thru series R98 200 ohm)
NET "GPIO_HDR<6>" LOC = "F13"; ## 6 on J13 (thru series R97 200 ohm)
NET "GPIO_HDR<7>" LOC = "P12"; ## 8 on J13 (thru series R96 200 ohm)