//! **************************************************************************
// Written by: Map P.20131013 on Mon May 29 09:47:07 2017
//! **************************************************************************

SCHEMATIC START;
COMP "CLK27M" LOCATE = SITE "V10" LEVEL 1;
COMP "LEDS<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "LEDS<1>" LOCATE = SITE "C14" LEVEL 1;
COMP "LEDS<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "LEDS<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "RX" LOCATE = SITE "K14" LEVEL 1;
COMP "TX" LOCATE = SITE "L12" LEVEL 1;
COMP "BUTTON" LOCATE = SITE "P4" LEVEL 1;
COMP "GPIO_HDR<0>" LOCATE = SITE "N17" LEVEL 1;
COMP "DIPSW<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "GPIO_HDR<1>" LOCATE = SITE "M18" LEVEL 1;
COMP "DIPSW<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "GPIO_HDR<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "DIPSW<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "GPIO_HDR<3>" LOCATE = SITE "L15" LEVEL 1;
COMP "DIPSW<3>" LOCATE = SITE "V13" LEVEL 1;
COMP "GPIO_HDR<4>" LOCATE = SITE "F15" LEVEL 1;
COMP "GPIO_HDR<5>" LOCATE = SITE "B4" LEVEL 1;
COMP "GPIO_HDR<6>" LOCATE = SITE "F13" LEVEL 1;
COMP "GPIO_HDR<7>" LOCATE = SITE "P12" LEVEL 1;
SCHEMATIC END;

